@model HeroListModel

<partial name="_ValidationScriptsPartial" />
@{
	ViewData["Title"] = "Heroes";

	var formTemplate = new HeroFormModel(string.Empty, DateOnly.MinValue, string.Empty, string.Empty);
}

<h2> @ViewData["Title"] </h2>
<hr />

<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"> Number of heroes to display </button>
	<ul class="dropdown-menu">
		<li> <a class="dropdown-item" asp-action="UpdateRows" asp-route-rows="10"> 10 </a></li>
		<li> <a class="dropdown-item" asp-action="UpdateRows" asp-route-rows="25"> 25 </a> </li>
		<li> <a class="dropdown-item" asp-action="UpdateRows" asp-route-rows="50"> 50 </a> </li>
		<li> <a class="dropdown-item" asp-action="UpdateRows" asp-route-rows="75"> 75 </a> </li>
		<li> <a class="dropdown-item" asp-action="UpdateRows" asp-route-rows="100"> 100 </a> </li>
	</ul>
</div>

<br />

<table class="table table-hover table-striped table-bordered">

	<thead class="table-dark">
		<tr>
			<th> Secret Identity </th>
			<th> Debut Date </th>
			<th> Initials </th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var heroViewModel in Model.HeroViewModels)
		{
			<tr>
				<td> @heroViewModel.Alias</td>
				<td> @heroViewModel.Debut</td>
				<td> @heroViewModel.FirstName[0]. @heroViewModel.LastName[0]. </td>
				<td> <partial name="_HeroDeleteButton" model="@heroViewModel" /> </td>
				<td>
					<a class="btn btn-outline-primary fa fa-pencil text-decoration-none"
					   data-bs-toggle="tooltip" data-bs-placement="top" title="Update hero"
					   asp-action="Update" asp-route-id="@heroViewModel.Id"> </a>
				</td>
			</tr>
		}
	</tbody>

</table>

<partial name="_PageSwitcher" model=@(Model.PageRange, Model.CurrentPage) />