@model HeroListModel

<partial name="_ValidationScriptsPartial" />
@{
	ViewData["Title"] = "Heroes";

	var formTemplate = new HeroFormModel(string.Empty, DateOnly.MinValue, string.Empty, string.Empty);
}

<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
</head>

<h2> @ViewData["Title"] </h2>
<hr />

<table class="table table-hover table-striped table-bordered">

	<thead class="table-dark">
		<tr>
			<th> Secret Identity </th>
			<th> Debut Date </th>
			<th> Initials </th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var heroViewModel in Model.heroViewModels)
		{
			<tr>
				<td> @heroViewModel.Alias</td>
				<td> @heroViewModel.Debut</td>
				<td> @heroViewModel.FirstName[0]. @heroViewModel.LastName[0]. </td>
				<td> <partial name="_HeroDeleteButton" model="@heroViewModel" /> </td>
				<td> <a class="btn btn-outline-primary fa fa-pencil text-decoration-none" 
					data-bs-toggle="tooltip" data-bs-placement="top" title="Update hero" 
					asp-controller="Hero" asp-action="Update" asp-route-id="@heroViewModel.Id"> </a> </td>
			</tr>
		}
	</tbody>

</table>

<partial name="_PageSwitcher" model=@(Model.PageRange, Model.CurrentPage) />