@model (IEnumerable<int> PageRange, int CurrentPage)

@{
	var firstPage = Model.PageRange.First();
	var lastPage = Model.PageRange.Last();

	int prevPage = Model.CurrentPage > firstPage
		? Model.CurrentPage - 1
		: firstPage;

	int nextPage = Model.CurrentPage < lastPage
		? Model.CurrentPage + 1
		: lastPage;
}

<nav>
	<ul class="pagination justify-content-center">

		<li class="page-item">
			<a class="page-link" asp-action="RedirectToIndexPage" asp-route-page="@prevPage">
				&#8592;
			</a>
		</li>

		@foreach (var pageNumber in Model.PageRange)
		{
			@if (pageNumber == Model.CurrentPage)
			{
				<li class="page-item active">
					<a class="page-link" asp-action="RedirectToIndexPage" asp-route-page="@pageNumber">
						<span>@pageNumber</span>
					</a>
				</li>
			}
			else
			{
				<li class="page-item">
					<a class="page-link" asp-action="RedirectToIndexPage" asp-route-page="@pageNumber">
						<span>@pageNumber</span>
					</a>
				</li>
			}
		}

		<li class="page-item">
			<a class="page-link" asp-action="RedirectToIndexPage" asp-route-page="@nextPage">
				&#8594;
			</a>
		</li>

	</ul>
</nav>